<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Microsoft Malware Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body class="text-center">

      <header class="masthead mb-auto teampage">
          <div class="inner">
            <h3 class="masthead-brand">Gentleman Parrot</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link" href="about.html">The Process</a>
              <a class="nav-link active" href="#">The Team</a>
            </nav>
          </div>
        </header>

    <main role="main">


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQG1WUL9hWC3GQ/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=hVVnSosaPeaFg813wM_Vqq3PGU4wRTMU_KLVnx2B8SI" alt="Image of Rodrigo" width="140" height="140">
            <h2>Rodrigo Becerril</h2>
            <p>Project Manager, Lead Data Scientist</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/rbecerri/" role="button">Connect &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGpKX4q8M3Nyg/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=nRalh0N-mh4vLUTr8Nqw21UoLaPCfpTr4-JUnyrzX9w" alt="Image of Kaileigh" width="140" height="140">
            <h2>Kaileigh Kinkoph</h2>
            <p>Cat-herder, Visualizations.</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/kaileighkinkoph/" role="button">Connect &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/40709939?s=460&v=4" alt="Image of Felicia" width="140" height="140">
            <h2>Felicia Hatchett</h2>
            <p>Front End Developer.</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/feliciahatchett/" role="button">Connect &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-2"></div>  
          <div class="col-lg-4">
                <img class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQFe6o57lvKlJg/profile-displayphoto-shrink_800_800/0?e=1547683200&v=beta&t=ZDtYy4mATpLkYp69N2ba8QkMmm6QRXfIExLvgaJWGBw" alt="Image of Becca" width="140" height="140">
                <h2>Becca Mitchell</h2>
                <p>Visualizations.</p>
                <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/rebecca-mitchell-449aba49/" role="button">Connect &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <img class="rounded-circle" src="https://arizonareport.com/wp-content/uploads/2017/10/iStock-520506217-e1507132473455.jpg" alt="Image of Phoenix" width="140" height="140">
                <h2>Phoenix Edward</h2>
                <p>Data Analyst, Random Forest Generator.</p>
                <p><a class="btn btn-secondary" href="https://github.com/phoenixedward/" role="button">GitHub &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-2"></div>
        </div><!-- /.row -->




      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Created by Gentleman Parrot for Project 3.</p>
          </div>
        </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="assets/js/vendor/holder.min.js"></script>
  </body>
</html>
